body {
    background-color: beige;
}

.wrapper {
    display:flex;
    background-color: rgba(243,234,227,255); 
    box-shadow: rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    overflow: hidden; 
    justify-content: center;
    align-content: center;
    margin: 10em 5em;
    padding: 20em 10em;
}

.testGrid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.itemA {
    grid-column: 0;
    grid-row: 1;
}

.itemB {
    grid-column: 1;
    grid-row: 1;
}